{% extends "base.html" %}
{% block title %}DEEEP - {{user.username}}{% endblock %}
{% block content %}
<div class="row " style="margin-top:5%">
    <div class="col-3 ">

        <div class="list-group " id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list"
               href="#list-home" role="tab" aria-controls="home">主页</a>

            <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list"
               href="#list-messages" role="tab" aria-controls="messages">信息</a>
            <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list"
               href="#list-settings" role="tab" aria-controls="settings">设置</a>
        </div>
    </div>


    <div class="col-6">

        <table class="table">
            <h1 class="display-3">Profile</h1>
            <tbody>
            <tr>
                <th scope="row">用户名</th>
                <td>{{user.username}}</td>
                <td><button type="button" class="btn btn-secondary btn-sm">修改</button></td>
            </tr>
            <tr>
                <th scope="row">邮箱</th>
                <td>{{user.email}}</td>
                <td><button type="button" class="btn btn-secondary btn-sm">修改</button></td>
            </tr>
            <tr>
                <th scope="row">昵称</th>
                <td>{{user.nickname}}</td>
                <td><button type="button" class="btn btn-secondary btn-sm">修改</button></td>
            </tr>
            <tr>
                <th scope="row">创建时间</th>
                <td>{{user.ct}}</td>
               <td><button type="button" class="btn btn-secondary btn-sm">修改</button></td>
            </tr>

            </tbody>
        </table>





    </div>
</div>
{% endblock %}

